<%- include('partials/header') %>



<% var d = new Date(); %>
<% var o = d.toLocaleString(); %>


<form class="" action="/pos" method="post">
<div class="center">
    <h1 style="margin:20px; color: #456268 ">Welcome <%= q %> </h1>

</div>
<div class="center">
  <textarea  name="pos" rows="8" cols="80" class="form-control te" placeholder="Post your views"> <%=  o %>  <%= q %> -  &#13;&#10; </textarea>
</div>


<div class="center">
    <button style="margin: 20px; width: 20%" class="btn btn-success b" type="submit" name="button">Post</button>
</div>

</form>

<%- include('partials/footer') %>
